<html>
  <head>
    <link
      href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', path='/css/gist-list.css') }}"
      rel="stylesheet"
    />

    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
  </head>
  <!-- Header -->
  <div class="container-fluid">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand fs-3" href="../">GistBlog</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </header>
  </div>

  <!-- page content -->
  <div class="container text-center">
    {% for gist in gist_list %}

    <div class="row">
      <div class="card bg-dark mb-3 text-light" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <a href="{{ gist.author.profile_url }}">
            <img src="{{ gist.author.avatar_url }}" class="img-fluid rounded-start" alt="..."></a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ gist.files[0].url }}">{{ gist.files[0].filename }}</a></h5>
              <p class="card-text">{{ gist.description }}</p>
              <p class="card-text"><small class="text-light">Last updated {{ gist.updated_at }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    {% endfor %}

  </div>

  <!-- Footer -->
  <footer class="footer fixed-bottom mt-auto py-3 bg-dark">
    <div class="container-fluid text-center">
      <span class="text-light fs-5">As3tic</span>
    </div>
  </footer>
</html>
